Django==5.0.2
bjoern==3.2.2
aiohttp==3.8.1
pyrogram
ffmpeg
tgcrypto
requests
pyromod==1.5
yt-dlp
aiohttp
aiofiles
humansize
opencv-python-headless
psutil
speedtest-cli 
jinja2
pytube
moviepy
bs4
pyshorteners
